
body {
	background-color: #fff;
	color: #222;
	font-family: Arial, sans-serif;
	text-align: left;
	box-sizing: border-box;
}

a {
	display: inline-block;
	color: #222;
	text-decoration: none;
	font-size: 13px;
	text-align: center;
}

#apps {
	width: 30px;
	height: 30px;
	background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
	background-position: -132px -31px;
	background-size: 528px 68px;
	margin-bottom: 4px;
}

#notification {
	width: 20px;
	height: 20px;
	background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
	background-position: -194px -21px;
	background-size: 528px 68px;
	background-color: #737373;
	color: rgb(23, 255, 255);
	border-radius: 50%;
	margin-bottom: 4px;
}

#account {
	width: 32px;
	height: 32px;
	background-image: url("https://lh3.googleusercontent.com/-OO0u2FwXySs/AAAAAAAAAAI/AAAAAAAAAAA/AGi4gfwRVqK02Wqwex_usL-iGc-hPMcHMQ/s32-c-mo/photo.jpg");
	background-size: 32px 32px;
	border-radius: 50%;
	margin-top: 5px;
}

#apps:hover {
	margin-bottom: 3px;
}

#notification:hover {
	background-color: #111;
}

#top-logo {
	display: inline-block;
	float: left;
	margin: 15px;
}

#search-bar {
	float: left;
	dispaly: inline-block;
	width: 632px;
	height: 46px;
	border: 1px solid #ddd;
	margin-top: 15px;
	padding: 0 0 0 10px;
	color: #222;
}

#search-bar:hover {
	box-shadow: 2px 2px 2px #bbb; 
}


/*navigation*/
.top-nav-bar, .bot-right-nav, .bot-left-nav {
	position: absolute;
}

.top-nav {
	text-align: right;
	top: 0;
	right: 0;
	margin: 10px 27px 0 0;
}

.top-nav a {
	margin-left: 18px;
}

/*heading*/
.heading {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
}


.bot-left-nav {
	text-align: left;
	bottom: 0;
	left: 0;
	margin: 0 0 13px 27px;
}

.bot-left-nav a {
	padding-right: 27px;
}


/*footer*/
.footer {
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 79px;
	background-color: #F2F2F2;
	border: 1px solid #E4E4E4;
	width: 100%;
	height: 41px;
	box-sizing: border-box;
}

.footer a:hover {
	text-decoration: underline;
}

/*option nav bar*/

.option-nav {
	position: absolute;
	width: 100%;
	top: 50px;
	border-bottom: 1px solid #E4E4E4;
}

.option-nav a {
	padding: 28px 16px 12px 16px;
	color: #777;
	font-size: 13px;
	line-height: 15px;
}

.option-nav a:hover {
    color: #222;
}

#all {
	margin-left: 150px;
	border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    font-weight: bold;
}

#settings {
	padding-left: 90px;
}
    

/*container*/
.container {
	width: 635px;
	position: relative;
	top: 120px;
	left: 150px;
	padding-bottom: 75px;
}

#search-time {
	padding-left: 50px;
	color: rgb(128, 128, 128);
	font-size: 13px;
	line-height: 43px
}

/*result*/

.result {
	width: 600px;
	padding: 16px 0;

}

.result a {
	color: #1a0dab;
	font-size: 18px;
	line-height: 1.2em;
}

.result a:hover {
	text-decoration: underline;
}

.result .link {
	color: #006621;
	font-size: 14px;
	line-height: 16px;
}

.result p {
	color: #545454;
	line-height: 1.4;
	font-size: 13px;
}

.result-box {
	width: 632px;
	line-height: 1.2;
	border: 1px solid #d9d9d9;
	padding: 16px;
	margin-bottom: 20px;
}

.result-box h2 {
	font-weight: bold;
	color: #222;
	width: 360px;
}

.result-box img {
	display: inline-block;
	float: right;
	position: relative;
	top: -55px;
	left: 16px;
}

.result-box ol {
	padding: 16px;
}

#more-items-link {
	color: rgb(119, 119, 119);
	font-size: 14px;
	padding: 0 0 16px 16px;
	text-decoration: none;
}

#more-items-link:hover {
	text-decoration: underline;
}

.result-option a {
	position: relative;
	top: 15px;
	float: right;
	padding: 4px 8px;
	text-align: left;
	color: rgb(119, 119, 199);
	font-size: 12px;
	line-height: 14px;
}

/*related search*/
.related-search {
	padding-top: 20px:;
}

.related-search h3 {
	color: #222;
	font-size: 18px;
	line-height: 18px;
	padding: 15px 0;
}

.related-search li a{
	color: #1A0DAB;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	padding: 4px 0;
}

.related-search li a:hover {
	text-decoration: underline;
}

/*table*/
.search-table {
	width: 630px;
	height: 55px;
	margin: 0 auto;
	padding: 20px 0 8px 150px;
    text-align: center;
}

.search-table td a {
	font-size: 13px;
	color: rgb(66, 133, 244);
}

.search-table td a:hover {
	text-decoration: underline;
}

.g-image {
 	width: 28px;
 	height: 40px;
 	background-image: url("https://www.google.hr/images/nav_logo242.png");
 	background-position: -24px 0px;
 }

 .o-red-image {
 	width: 20px;
 	height: 40px;
 	background-image: url("https://www.google.hr/images/nav_logo242.png");
 	background-position: -53px 0px;
 }

 .o-yellow-image {
 	width: 20px;
 	height: 40px;
 	background-image: url("https://www.google.hr/images/nav_logo242.png");
 	background-position: -74px 0px;
 }

 .gle-image {
 	width: 71px;
 	height: 40px;
 	background-image: url("https://www.google.hr/images/nav_logo242.png");
 	background-position: -96px 0px;
 }

#first-related {
	color: rgba(0, 0, 0, 0.87)
 }

 #first-related:hover {
	text-decoration: none;
 }

 td#next-related {
 	text-align: right;
 }
